<form method="post" action="/sign_in" class="log_in_form">
<% if (helpers.branding){ %>
<h1>Sign in to &quot;<%= helpers.branding.site_name %>&quot;</h1>
<% } else { %>
<h1>Sign in</h1>
<% } %>
    <p><small>This sign in form is for members who have elected NOT to register via Facebook.<br />
        If your account is registered with Facebook click the Facebook Log In button at the left.</small></p>
<table>
    <tr><th>Username</th>
        <td><input type="text" name="sign_in[member_name]" /></td>
    </tr>
    <tr><th>Password</th>
        <td><input type="password" name="sign_in[password]" /></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><button type="submit">Log In</button></td>
    </tr>
</table>
</form>
<%
var member = helpers.member();
if (member){ %>
<p><i>Note - you are already logged in as &quot;<%= member.member_name %>&quot;</i></p>
<% } %>